{
    "extends": "eslint:recommended",
    "env": {
        "browser":true,
        "jasmine":true
    },
    "globals": {
        "angular":true,
        "SP":true
    },
    "plugins": [
        "angular"
    ],
    "rules": {
        "no-console": 0,
        "no-unused-vars": 1,
        "angular/document-service": 0,
        "angular/log": 0
    }
}